<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fullname</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Send Email</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Contacts</th>
        <th scope="col">Password</th>
        <th scope="col">Valid till</th>
        <th scope="col">App ID</th>
        <th scope="col">Capacity</th>
        <th scope="col">Postscript</th>
        <th scope="col">Authorize Background</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let value of tableValues">
        <th scope="row">1</th>
        <td>a</td>
        <td>b</td>
        
      </tr>
    </tbody>
  </table>